			<div id="header">
				<nav class="top-bar">
					<ul class="title-area">
						<!-- Title Area -->
						<li class="name">
							<h1>
								<%= link_to(root_url) do %>
									<%= image_tag("prdio-logo.png", :height => '108', :width => '153', :class => "header-logo") %>
									<%= image_tag("prdio-logo-mobile.png", :height => '51', :width => '75', :class => "header-logo-mobile") %>
								<% end %>
							</h1>
						</li>
						<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>

					<section class="top-bar-section">
						<!-- Left Nav Section -->
						<ul class="left">
							<li class="active"><a href="#">About</a></li>
							<li><a href="#">How It Works</a></li>
							<li><%= link_to 'Github', 'https://github.com/nelsonmc/prdio' %></li>
						</ul>
						<ul class="right">
							<%= render "layouts/login_nav" %>
						</ul>
					</section>
				</nav>
			</div>